<style>
	.todo-container {
		max-width: 700px;
		max-height: 70vh;
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		font-family: Arial, sans-serif;
		background-color: #fff;
		padding: 2em 1em;
		border-radius: 10px;
	}

	.todo-heading {
		color: #333;
		text-align: center;
	}

	.list {
		list-style: none;
		padding-inline: 0;
		display: flex;
		flex-direction: column;
		overflow-y: auto;
		margin-block-start: 0.5em;
		margin-block-end: 0;

		scrollbar-width: thin;
		scrollbar-color: #4e085f transparent;
	}

	.list::-webkit-scrollbar {
		width: 6px;
	}
	.list::-webkit-scrollbar-track {
		background-color: transparent;
	}
	.list::-webkit-scrollbar-thumb {
		background: linear-gradient(#153677, #4e085f);
		border-radius: 4px;
	}

	.list li {
		margin: 10px 0;
		padding: 10px;
		display: grid;
		grid-template-columns: 1fr 7fr 1fr;
		grid-template-areas: 'checkbox todo dot';
		align-items: center;
		animation: fade linear both;
		animation-timeline: view();
		animation-range: entry 50% cover 15%;
	}

	.list li input[type='checkbox'] {
		grid-area: checkbox;
		margin-right: 10px;
		-webkit-appearance: none;
		appearance: none;
		width: 1.15em;
		height: 1.15em;
		border: 1px solid #000;
		border-radius: 2px;
		display: grid;
		place-content: center;
		cursor: pointer;
	}

	.list li input[type='checkbox']:checked {
		border: 1px solid #8f8f8f;
	}
	.list li input[type='checkbox']::before {
		content: '';
		width: 0.5em;
		height: 0.5em;
		transform: scale(0);
		transform-origin: bottom left;
		transition: 0.12s transform ease-in-out;
		box-shadow: inset 1em 1em #8f8f8f;
		clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
	}

	.list li input[type='checkbox']:checked::before {
		transform: scale(1.1);
	}

	.list li input[type='checkbox']:checked + span {
		color: #8f8f8f;
	}

	.todo-text-span {
		grid-area: todo;
		flex-grow: 1;
		max-width: 12em;
		word-wrap: break-word;
	}

	.todo-text-span > p,
	.todo-text-span > input {
		margin-block-start: 0;
		margin-block-end: 0;
	}

	.todo-text-span > input {
		font-size: 1em;
	}

	.delete-button,
	.edit-button {
		display: none;
		color: #fff;
		border: none;
		padding: 5px;
		cursor: pointer;
		background-color: transparent;
		margin: 0 0.2em;
		transition: all 0.2s;
	}

	.delete-button:hover,
	.edit-button:hover {
		transform: scale(1.15);
	}

	.edit-button {
		grid-area: edit;
	}

	.delete-button {
		grid-area: delete;
	}

	.done {
		text-decoration: line-through;
	}

	li i {
		color: rgb(56, 56, 56);
		width: 15px;
	}

	.dot {
		grid-area: dot;
		width: 8px;
		margin: 0 5px;
	}

	@keyframes fade {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	@media screen and (min-width: 410px) {
		.todo-text-span {
			max-width: 15em;
		}
	}

	@media screen and (min-width: 630px) {
		.todo-container {
			padding: 2em 4em 3em;
		}

		.list li {
			grid-template-columns: 1fr 7fr 1fr 1fr 1fr;
			grid-template-areas: 'checkbox todo dot edit delete';
		}

		.delete-button,
		.edit-button {
			display: inline-flex;
		}
	}
</style>

<div class="todo-container">
	<h1 class="todo-heading">My todos</h1>
	<add-todo></add-todo>
	<filter-todos></filter-todos>
	<ul class="list"></ul>
</div>
