<style>
	.todo-container {
		max-width: 600px;
		margin: 0 auto;
		font-family: Arial, sans-serif;
		background-color: #fff;
		padding: 2em 5em 3em;
		border-radius: 10px;
	}

	.todo-heading {
		color: #333;
	}

	.list {
		list-style: none;
		padding-inline: 0;
		padding: 0;
	}

	.list li {
		margin: 10px 0;
		padding: 10px;
		border: 1px solid #ddd;
		display: flex;
		align-items: center;
	}

	.list li input[type='checkbox'] {
		margin-right: 10px;
	}

	.list li span {
		flex-grow: 1;
	}

	.delete-button,
	.edit-button {
		color: #fff;
		border: none;
		padding: 5px;
		cursor: pointer;
		display: inline-flex;
		background-color: transparent;
	}

	/* .delete-button {
		background-color: #f44336;
		margin-left: 10px;
	}

	.delete-button:hover {
		background-color: #d32f2f;
	}

	.edit-button {
		background-color: #17aaee;
	}

	.edit-button:hover {
		background-color: #078cca;
	} */

	.done {
		text-decoration: line-through;
	}

	li i {
		color: rgb(29, 29, 29);
		width: 20px;
		/* height: 25px; */
		/* margin: 0 10px; */
	}
</style>

<div class="todo-container">
	<h1 class="todo-heading">My todos</h1>
	<add-todo></add-todo>
	<filter-todos></filter-todos>
	<ul class="list"></ul>
</div>
