<style>
	.add-container {
		margin-top: 10px;
	}

	#todo-input {
		padding: 5px;
	}

	.add-button {
		color: #fff;
		border: none;
		/* padding: 5px; */
		padding-inline: 0;
		cursor: pointer;
		/* background-color: #4caf50; */
		background-color: transparent;
		display: inline-flex;
	}

	.add-button > i {
		color: rgb(29, 29, 29);
		width: 20px;
	}

	/* .add-button:hover {
		background-color: #45a049;
	} */

	.radio-container {
		display: flex;
		justify-content: space-around;
	}

	.radio-container > div {
		display: flex;
		flex-direction: column;
	}
</style>

<div class="add-container">
	<input type="text" id="todo-input" />
	<button class="add-button"></button>
	<div class="radio-container">
		<div>
			<input type="radio" id="low" name="priority" checked />
			<label for="low">low</label>
		</div>
		<div>
			<input type="radio" id="medium" name="priority" />
			<label for="medium">medium</label>
		</div>
		<div>
			<input type="radio" id="high" name="priority" />
			<label for="high">high</label>
		</div>
	</div>
</div>
